name: Sync

on:
  push:
    branches:
      - master
  repository_dispatch:

jobs:
  index:
    name: Sync projects between Todoist and Notion
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: oven-sh/setup-bun@v2
      - name: run index
        env:
          TODOIST_TOKEN: ${{secrets.TODOIST_TOKEN}}
          NOTION_TOKEN: ${{secrets.NOTION_TOKEN}}
        run: |
          bun install
          bun src/index.ts
